@import "main";

$map-light-blue: lightseagreen;
$map-light-green: #00a394;
$map-orange: #EDBE4FFF;
$map-light-orange: navajowhite;


.leaflet-interactive {
    fill: $map-light-blue;
    stroke: $map-light-green;
}

.leaflet-marker-icon {
    color: $main-blue;
    stroke: $map-light-orange;
    stroke-width: 0.5px;
}

